.background
{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header {
  padding: 20px;
  color:rgb(122, 117, 79);
  background-color: white;
}
.Image
{
  width: 30%;
  margin: 0 auto;
  height: 40%;
  background-size:cover;
  margin-bottom: 20px;
}
.ColourButton
{
  padding: 100px;
  font-size: 20px;
}
#ColourInput
{
  margin-bottom: 20px;
  padding: 10px;
}
.select
{
  margin-bottom: 20px;
  padding: 10px;
  font-size: 40px;
  color: brown;
}